- name: Ensure APT proxy config is present
  ansible.builtin.template:
    src: apt-proxy.conf.j2
    dest: /etc/apt/apt.conf.d/01proxy
    owner: root
    group: root
    mode: "0644"

- name: Ensure IPv4 forwarding is disabled on mgmt-vm
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "0"
    state: present
    reload: true
