- name: Restart prometheus-postgres-exporter
  ansible.builtin.systemd:
    name: prometheus-postgres-exporter
    state: restarted
  become: true

- name: Restart postgresql
  ansible.builtin.systemd:
    name: postgresql
    state: restarted
  become: true

- name: Restart nftables
  ansible.builtin.systemd:
    name: nftables
    state: restarted
  become: true