- name: Ensure /etc/hosts has OPX mgmt entries
  ansible.builtin.blockinfile:
    path: /etc/hosts
    create: true
    marker: "# {mark} OPX-LAB HOSTS"
    block: |
      {% for e in opx_hosts_entries %}
      {{ e.ip }} {{ e.name }}
      {% endfor %}
  become: true
  when: opx_hosts_entries is defined