---
- import_tasks: 00_timezone.yml
- import_tasks: 10_apt_proxy.yml
- import_tasks: 20_apt_sources.yml
- import_tasks: 30_chrony.yml
- import_tasks: 40_apt_baseline.yml
- import_tasks: 50_packages.yml
- import_tasks: 60_sysctl.yml
