---
- import_tasks: 00_timezone.yml
- import_tasks: 10_apt_proxy.yml
- import_tasks: 15_hosts.yml
- import_tasks: 20_apt_sources.yml
- import_tasks: 25_apt_locks.yml
- import_tasks: 30_chrony.yml
- import_tasks: 40_apt_baseline.yml
- import_tasks: 50_sysctl.yml
- import_tasks: 60_node_exporter.yml
