---
common_timezone: Europe/Warsaw

apt_proxy_url: "http://192.168.1.50:3142"
apt_http_mirror: "http://deb.debian.org/debian"
apt_security_mirror: "http://security.debian.org"

# Chrony NTP servers:
chrony_upstream_lb: "192.168.1.50"   # lb-vm syncs from opx-pc
chrony_upstream_vm: "192.168.55.2"   # all other VMs sync from lb-vm

common_packages: []
common_sysctl: {}
