# Managed by Ansible - lb-vm iptables (NAT + forwarding)

*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Allow routing from LAN -> WAN
-A FORWARD -i {{ lb_lan_if }} -o {{ lb_wan_if }} -j ACCEPT

# Allow established/related back from WAN -> LAN
-A FORWARD -i {{ lb_wan_if }} -o {{ lb_lan_if }} -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# Allow opx-pc to reach ALL internal VMs (SSH + ICMP)
-A FORWARD -s {{ opx_pc_ip }}/32 -d {{ mgmt_subnet_cidr }} -i {{ lb_wan_if }} -o {{ lb_lan_if }} -p icmp -j ACCEPT
-A FORWARD -s {{ opx_pc_ip }}/32 -d {{ mgmt_subnet_cidr }} -i {{ lb_wan_if }} -o {{ lb_lan_if }} -p tcp --dport 22 -j ACCEPT

# Allow internal VMs to reach opx-pc (apt-cacher-ng, etc.)
-A FORWARD -s {{ mgmt_subnet_cidr }} -d {{ opx_pc_ip }}/32 -i {{ lb_lan_if }} -o {{ lb_wan_if }} -j ACCEPT

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

# NAT internal subnet out to WAN
-A POSTROUTING -s {{ mgmt_subnet_cidr }} -o {{ lb_wan_if }} -j MASQUERADE

COMMIT