- name: restart chrony
  ansible.builtin.systemd:
    name: chrony
    state: restarted

- name: restart node_exporter
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    state: restarted
